{% extends 'base.html.twig' %}

{% block title %}Hello LieuController!{% endblock %}

{% block body %}
<h2>Ajouter votre Lieu !</h2>

    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    {{ form_end(lieuForm) }}
{% endblock %}
