@font-face {
    font-family: 'edos';
    font-weight: 600;
    src:url("../font/edosz.ttf") format('truetype');
}


body{
    background-color: #0c0c0c;
    font-family: 'edos', sans-serif;

}

main{
    margin: auto;
    width: 90%;
    height: 90vh;
    background-color: #0c0c0c;


}
header{
    color: #0c0c0c;
}
h1{
    font-family: 'edos',sans-serif;
    font-size: 3em;
    color: whitesmoke;
    text-align: center;
    margin: auto;

}
h2{
    color: #F1580c;
    font-size: 1.2em;
    font-style: oblique;
    font-weight: bold;
    text-align: center;

}
p{
    color: white;
}

#connexion{
    justify-content: center;
    margin-top: 30px;

}

.form-connexion{
    margin-top: 40px;
    box-shadow: 0 0 25px #f1580c8c;
    background-color: #000000;
    height: 450px;
    border-radius: 15px 15px 15px 15px;

}

.column{
    margin-top: 20px;
    width: 500px;
    font-size: 1em;


}
.label{
    display: flex;
    justify-content: center;
    color:white ;
    margin-top: 10px;
}

#button_connexion{
    display: flex;
    width: 150px;
    align-content: center;
    margin:auto;
    color: white;
    background-color:#000000 ;
    border-color: #F1580c;
}
#button_connexion:hover{
    background-color: #F1580c;
    color: white;
}


.logo-site {
    display: flex;
    background-color: #0c0c0c;

}

.logo-site img{
    width: 30%;
    max-width: 30%;
    height: 200px;
    justify-content: center;
    margin:auto;

}
#logo-nav{
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
}
.navbar{
    background-color:#0c0c0c ;
    height: 150px;
    width: 90%;
}
.navbar-item{

    color: white;
}
#mon-profil:hover,#se-deconecter:hover,#creation-membre:hover,#accueil:hover{
    color:#F1580c ;
    background-color: #0c0c0c;
}


footer{
    background-color:#F1580c ;
    height: 10vh;
}

.input:hover{
    border-color: #F1580c;
}

.checkbox:hover{
    color: #F1580c;
}



label{
    color:white;
}
.alert{
    color: red;
}
.mdp-oublier a{
    color: white;
    padding-left: 20px;

}
a:hover{
    color: #F1580c;
}


