
h1{
    text-align: center;
    color: #00F1A1;
    font-size: 4em;
    text-decoration: underline;
}

article{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 50px;
}
.detail,.photo_utilisateur{
    color: #00F1A1;
    font-size: 1.5em;
    padding: 40px;

}

.photo_utilisateur img{
    width: 200px;
    height: 200px;
    border: 1rem solid #00F1A1;
}
.retour{
    display: flex;
    justify-content: center;

}
.button-profil{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.retour button{
    width: 150px;
    margin: 20px;
}
.button{
    color: #00F1A1;
    background-color:#2E2E2E;
    border-color:#00F1A1 ;
}

.button:hover{
    color:#2E2E2E;
    background-color:#00F1A1;
    border-color:#2E2E2E ;
}


.button-modifier-profil{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 25px;

}.button-modifier-profil button{
    width: 150px;
    margin: 20px;
 }
 .form-modification-profil{
     display: flex;
     margin: auto;
     flex-direction: column;
     width: 60%;
 }
 .form-modification-profil div{

     font-size: 1.5em;

 }
 .form-modification-profil label{
     text-align: left;
     color: #00F1A1;
 }

 .form-modification-profil input, .form-modification-profil select{
     width: 200px;
     height: 30px;
 }
 .position-form div{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: auto;
 }

 .position-form div *{
     width: 100%;
 }
 .position-password{
     display: flex;
     flex-direction: column;
 }
.form-modification-profil select{
    border-color:#00F1A1 ;
}

.vich-file input{
    color:#00F1A1 ;
    width: 200px;
}
#registration_form_imageFile_file{
    width: 100%;
}




