@font-face {
    font-family: 'my-custom-font';
    src: url('../fonts/Alien.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.entete{
    text-align: right;
    margin-right: 10vh;
    padding-top: 20px;
}
.identifiant{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.user-identifié{
    color: #F1580c;




}
.pagination{
    width: 20%;
    justify-items: center;
    margin:auto;
    margin-top: 20px;
}
.pagination *{
    color: white;
}
.pagination *:hover{
    color: #6DB9FF;
}

.formulaire-recherche{
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 20px;

}
.block-1{
    width: 45%;
    display: flex;


}
.separation-form{
    display: flex;
    justify-content: flex-end;


}
.separation-form input,.separation-form select{
    width: 100px;
}
.separation-form label{
    margin: auto;
    text-align: left;
    justify-items: flex-start;
}
.block-2{
    width: 35%;
}
.block-3{
    display: flex;
    width: 20%;
    justify-items: center;
}

.table{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
#filtre_valide{
    width: 200px;
    height: 60px;
    background: linear-gradient(to right, #F1580c, #F5793B);
    justify-items: center;
    margin: auto;
}
#filtre_valide:hover{
    box-shadow: 10px 10px black;
    padding-bottom: 3px;
}

.affichage-sorties{
    margin-top: 50px;

}
.table{
    margin: auto;
    padding-top: 20px;
    box-shadow: 0 0 25px #f1580c8c;
    background-color: #000000;
    color: white;

}

.button-creation-sortie{
    display: flex;
   justify-content: center;
    margin-top: 30px;
}

#bouton-creation-sortie{
    color: #F1580c;
    border-color: #F1580c;
    background-color:#000000 ;
}
#bouton-creation-sortie:hover{
    background-color: #F1580c;
    color: #000000;
}

/*css gestion détail sortie*/

#affichage{
    text-align: center;
    color: #00F1A1;
    margin-top: 30px;
}
.detail-sortie{
    display: flex;
    justify-content:space-around;
    margin-top: 40px;

}
.button{
    color: #F1580c;
    background-color: #000000;
    border-color:#F1580c ;
}
.button:hover{
    background-color: #F1580c;
    color:whitesmoke ;
}
.description_sortie{
    background-color:#ffffff1f ;
    margin: auto;
    margin-top: 30px;

    box-shadow: 0 0 25px #f1580c8c;
    width: 30%;
    height: 150px;
}
.participants{
    background-color:#ffffff1f ;
    margin: auto;
    margin-top: 30px;

    box-shadow: 0 0 25px #f1580c8c;
    width: 30%;
    height: 150px;
}

article>p{
    font-weight: bold;
    font-size: 1.5em;
}
.button-detail-sortie{
    display: flex;
    justify-content: center;

}
.button-detail-sortie div{

}
#map{
    width: 450px;
    height: 450px;

}
.container{
    display: flex;
}
.organisation-detail-sortie{
    display: flex;
    flex-direction: column;
    width: 40%;
}
/*Création sortie*/

.creation-sortie{

}

.adresse{
    display: flex;
    flex-direction: column;

}










